/* body {
  background-color: rgb(233, 232, 232);
} */

.bodyContainer {
  background-color: #fff !important ;
  padding: 2rem;
  /* margin: 1rem; */
}
.topBtns button {
  background-color: #f30 !important ;
  border: none;
}
.topBtns {
  float: right;
}
.btn-info {
  color: #fff;
  border-color: #168dee !important;
  background-color: #1e9ff2 !important;
}
